[submodule "src/jpeg/onevpl/3rdparty/libvpl"]
	path = src/OpenCL.Image.Codec.OneVpl/src/3rdparty/libvpl
	url = https://github.com/intel/libvpl
[submodule "src/jpeg/onevpl/3rdparty/vpl-gpu-rt"]
	path = src/OpenCL.Image.Codec.OneVpl/src/3rdparty/vpl-gpu-rt
	url = https://github.com/intel/vpl-gpu-rt
